{% extends 'carapp/base.html' %}
{% block content %}
    {# <div class="b-example-divider b-example-vr"></div>#}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-4 fw-normal text-body-emphasis">Контакты</h2>
        <div class="row-cols-md-2 mb-5 text-body-emphasis">
            <div class="col card">
                <div class="card-body">

                        <div class="col-6">г. Москва</div>
                        <div class="col-6">+7 495 777 77 77 test@gmail.com</div>
                        <div class="col-6">г. Санкт-Петербург</div>
                        <div class="col-6">+7 888 777 88 99 test2@gmail.com</div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}