


<div data-tracking-regionid="oneshop" class="css-kzqt8w">
    <div class="css-23tsa5"></div>
    <div class="css-23tsa5"></div>
    <div class="css-23tsa5"></div>
    <div class="css-3bc2iz"></div>
    <div class="css-3bc2iz"></div>
    <div class="css-3bc2iz"></div>
    <div data-testid="background-image" class="css-1pr8jt4">
        <div data-testid="background-shadow" class="css-1ko91uy">
            <div data-testid="content-box" class="css-i9c2od"><h1 data-testid="headline-text" class="css-1t6oqke">
                СПАСИБО ЗА ВАШ ВИЗИТ.</h1>
                <div data-testid="subheadline-text" class="css-hca3jq">Интернет-магазин ConnectedDrive Store
                    недоступен по техническим причинам.
                </div>
                <div class="css-perfnv"><a href="/" class="css-10zwoio">
                    <div class="BMW FUSION webcom webcom-flex-btn">
                        <button compact="undefined" data-testid="maintenance-button"
                                class="webcom-outline-btn ondark webcom-flex-btn" style="width:100%">Перейти на главную
                            страницу
                        </button>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>